$white: hsl(0, 0%, 96%);
$light-grey: hsl(0, 0%, 85%);
$medium-grey: hsl(0, 1%, 70%);
$dark-grey: hsl(19, 13%, 30%);
$secondary-colour: hsl(6, 40%, 47%);

@keyframes bounce {
    0% {
        transform: translate3d(0px, 0px, 0);
    }

    50% {
        transform: translate3d(0px, -4px, 0);
    }

    100% {
        transform: translate3d(0px, 0px, 0);
    }
}

@keyframes exhaust {
    0% {
        background-image: linear-gradient(to top, transparent 10%, $white 100%);
    }

    50% {
        background-image: linear-gradient(to top, transparent 8%, $white 100%);
    }

    75% {
        background-image: linear-gradient(to top, transparent 12%, $white 100%);
    }
}

.rocket {
    position: absolute;
    bottom: 3%;
    height: 25%;
    width: 10%;
    left: 50%;
    transform: translateX(-50%);

    .rocket-body {
        height: 100%;
        width: 100%;
        left: 50%;

        .body {
            background-color: $light-grey;
            height: 100%;
            left: 50%;
            border-top-right-radius: 100%;
            border-top-left-radius: 100%;
            border-bottom-left-radius: 50%;
            border-bottom-right-radius: 50%;
        }

        &:before {
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 50%;
            height: 6%;
            background-color: $dark-grey;
            bottom: -6%;
            border-bottom-right-radius: 60%;
            border-bottom-left-radius: 60%;
        }
    }

    .window {
        position: absolute;
        width: 50%;
        aspect-ratio: 1/1;
        border-radius: 100%;
        background-color: $medium-grey;
        left: 50%;
        transform: translateX(-50%);
        top: 22%;

        $border-offset: 8.5%;
        &:before {
            content: "";
            position: absolute;
            top: $border-offset;
            left: $border-offset;
            background: $secondary-colour;
            height: 100% - 2 * $border-offset;
            width: 100% - 2 * $border-offset;
            border-radius: 100%;
        }
    }

    .fin {
        position: absolute;
        z-index: -100;
        height: 35%;
        width: 65%;
        top: 100%;
        background-color: $secondary-colour;
    }

    .fin-left {
        left: 0;
        border-top-left-radius: 80%;
        border-bottom-left-radius: 20%;
        transform: translate(-60%, -100%);
    }

    .fin-right {
        right: 0;
        border-top-right-radius: 80%;
        border-bottom-right-radius: 20%;
        transform: translate(60%, -100%);
    }

    .exhaust-flame {
        position: absolute;
        top: 90%;
        width: 43%;
        background-image: linear-gradient(to top, transparent 10%, $white 100%);
        height: 100%;
        left: 50%;
        z-index: -1;
        transform: translateX(-50%);
    }
}

.game-active-true {
    .rocket {
        bottom: 40%;
        transition: all 2000ms ease-in-out;

        .rocket-body {
            animation: bounce 0.5s infinite;
        }
    }

    .exhaust-flame {
        animation: exhaust 0.2s infinite;
    }
}
