$white: hsl(0, 0%, 96%);
$light-grey: hsl(0, 0%, 85%);
$medium-grey: hsl(0, 1%, 70%);
$dark-grey: hsl(19, 13%, 30%);
$secondary-colour: hsl(6, 40%, 47%);

@keyframes bounce {
    0% {
        transform: translate3d(0px, 0px, 0);
    }

    50% {
        transform: translate3d(0px, -4px, 0);
    }

    100% {
        transform: translate3d(0px, 0px, 0);
    }
}

@keyframes exhaust {
    0% {
        background-image: linear-gradient(to top, transparent 10%, $white 100%);
    }

    50% {
        background-image: linear-gradient(to top, transparent 8%, $white 100%);
    }

    75% {
        background-image: linear-gradient(to top, transparent 12%, $white 100%);
    }
}

@keyframes displayLate {
    0% {
        opacity: 0;
    }

    99% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.rocket {
    position: absolute;
    bottom: 3%;
    width: 80px;
    left: 50%;
    transform: translateX(-50%);

    .rocket-body {
        width: 80px;
        left: 50%;

        .body {
            background-color: $light-grey;
            height: 180px;
            left: 50%;
            border-top-right-radius: 100%;
            border-top-left-radius: 100%;
            border-bottom-left-radius: 50%;
            border-bottom-right-radius: 50%;
        }

        &:before {
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 48px;
            height: 13px;
            background-color: $dark-grey;
            bottom: -13px;
            border-bottom-right-radius: 60%;
            border-bottom-left-radius: 60%;
        }
    }

    .window {
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background-color: $secondary-colour;
        left: 50%;
        transform: translateX(-50%);
        top: 40px;
        border: 5px solid $medium-grey;
    }

    .fin {
        position: absolute;
        z-index: -100;
        height: 55px;
        width: 50px;
        top: calc(100% - 55px);
        background-color: $secondary-colour;
    }

    .fin-left {
        left: -30px;
        border-top-left-radius: 80%;
        border-bottom-left-radius: 20%;
    }

    .fin-right {
        right: -30px;
        border-top-right-radius: 80%;
        border-bottom-right-radius: 20%;
    }

    .exhaust-flame {
        position: absolute;
        top: 90%;
        width: 28px;
        background-image: linear-gradient(to top, transparent 10%, $white 100%);
        height: 150px;
        left: calc(50% - 14px);
        z-index: -1;
    }
}

.game-active-true {
    .rocket {
        bottom: 40%;
        transition: all 2000ms ease-in-out;

        .rocket-body {
            animation: bounce 0.5s infinite;
        }
    }

    .exhaust-flame {
        animation: exhaust 0.2s infinite;
    }
}
