$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$text-color: hsl(100, 100%, 99%);
$primary: hsl(125, 34%, 54%);
$secondary: hsl(200, 16%, 62%);
$black: hsl(0, 0%, 13%);
$light-black: hsl(240, 9%, 22%);
$red: hsl(6, 63%, 63%);
$dark-box-shadow: 0 0 #000, 0 0 #000, 0 0 #000, 0 0 #000, 0 0 #0000;
