@import "./variables";
@import "bootstrap";

body {
    background-color: $black;
    line-height: 1.4;
    color: $text-color;
    font-family: Roboto, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

#container {
    width: 90%;
    position: relative;
}

h1 {
    text-transform: uppercase;
    font-weight: 1000;
    margin-bottom: 0;
    text-align: center;
}

#multiplier {
    font-weight: bold;
    text-align: center;
    margin: 0;
    color: $primary;
    font-size: 6vw;
}

#multiplier.crashed {
    color: $secondary;
}

#game {
    aspect-ratio: 1 / 1;
    max-height: 80vh;
}

#game-square {
    background-color: $light-black;
    height: 100%;
    width: 100%;
}

.dark-bg {
    background-color: $black;
    border-radius: 10px;
    padding: 0.5rem 1.5rem;
}

.light-black-bg {
    background-color: $light-black;
    border-radius: 10px;
    padding: 0.5rem 1.5rem;
}

main {
    padding: 0.5rem;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.betting-menu .btn-outline-primary {
    color: $primary;
    border-color: $primary;
    &:hover,
    &:active,
    &:focus {
        color: $black !important;
        border-color: $primary !important;
        background-color: $primary !important;
        outline: none !important;
        box-shadow: none;
    }
}

.input-group > .input-group-append > .btn {
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

main {
    display: flex;
    flex-direction: row-reverse;
}

html,
body {
    height: 100%;
    margin: 0;
}

.background-fade {
    background-color: #0d0d0d;
    transition: all 250ms;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes fadeBackground {
    from {
        background-color: #0d0d0d;
    }
    to {
        background-color: #f44336;
    }
}

@keyframes scaleUp {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(2);
    }
}

.background-fade.animate {
    animation: fadeBackground 90s forwards;
}

#multiplier {
    transform: scale(1);
}

.game-round--active {
    #multiplier {
        animation: scaleUp 60s forwards;
        animation-timing-function: cubic-bezier(0.64, 0.18, 0.82, 0.34);
    }
}

#balance-amount {
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    background: $primary;
    padding: 0.55rem 1rem;
    border-radius: 15px;
}

.cursor-pointer,
.cursor-pointer * {
    cursor: pointer;
}

#header {
    background-color: $light-black;
    box-shadow: $dark-box-shadow;
}

#balance-background {
    border-radius: 0.25rem 0 0 0.25rem;
    border: 1px solid $primary;
    background-color: hsla(125, 34%, 54%, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
}

#balance {
    margin-bottom: 0;
    font-weight: 500;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.balance-container {
    width: auto;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.monospace {
    font-family: var(--bs-font-monospace);
}

.dark-input-group {
    border-radius: 0.25rem;
    $dark-input-colour: hsl(237, 37%, 12%);
    background-color: $dark-input-colour;

    * {
        border-color: transparent;
        background-color: transparent;
        color: $light;
    }

    input {
        &:focus {
            background-color: transparent;
            color: $light;
        }

        &::placeholder {
            color: hsl(0, 0%, 75%);
        }
    }

    .btn {
        border-left: 1px solid $light;
        border-bottom: 2px solid $primary;

        &:active,
        &:focus,
        &:hover {
            color: $primary;
        }
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }
}
